div{
    width: 100px;
    height: 100px;
    background-color: rgba(28, 104, 218, 0.5);
    display: inline-block;
    border: 2px solid rgba(221, 208, 21, 0.5);
}
#div1{
    position: static;
    top: 50px;
    left: 0px;
    /* in case of static postion, the position values are ignored. */
}
#div2{
    color: white;
    position: relative;
    top: 10px;
    left: 10px;
    bottom: 10px;
    background-image: url("../resources/mobile.PNG");
    background-size: contain;
    background-repeat: no-repeat;
}
#div3{
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 1;
    background-color: white;
}
#div4{
    position: fixed;
    top: 300px;
    right: 200px;
}
#div5{
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 3;
}
#div6{
    position: fixed;
    bottom: 0px;
    width:100%;
}
#img1{
    width: 60px;
    height: 60px;
    z-index: -1;
}