*{
    margin: 0px;
    padding: 0px;
}
.navClass{
    height: 60px;
    align-items: center;
    background-color: #0f1111;
}
#navSearch{
    width: 125px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
#navButton{
    width: 50px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: white;
    background-color: #f08804;
}
#amazonLink{
    color: #f08804;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}
#navLinks{
    text-decoration: none;
    color: white;
}
a{
    margin-right: 160px
}
.contentClass{
    border: 1px solid #b63434;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px;
}
.footerClass{
    background-color: #0f1111;
    text-align: center;
    color: #f08804;
    font-size: 15px;
    margin:0px;
}